<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="fiftyOne">
      <section name="log" type="FiftyOne.Foundation.Mobile.Configuration.LogSection, FiftyOne.Foundation" requirePermission="false"
        allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="redirect" type="FiftyOne.Foundation.Mobile.Configuration.RedirectSection, FiftyOne.Foundation" requirePermission="false"
        allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
      <section name="detection" type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, FiftyOne.Foundation" requirePermission="false"
        allowDefinition="Everywhere" restartOnExternalChanges="false" allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
    <section name="runtimeAuthSettings" type="Ingeniux.Runtime.RuntimeAuth.RuntimeAuthenticationSettings, AuthenticatorPlugin"/>
  </configSections>
  <fiftyOne>
    <log logFile="~/App_Data/Log.txt" logLevel="Debug"/>
    <detection binaryFilePath="~/App_Data/51Degrees.mobi.dat"/>
    <redirect/>
  </fiftyOne>
  <!-- RuntimeAuth Settings -->
  <runtimeAuthSettings enabled="false" allowMediaStreamingInProtectedFolders="false" allowedRequestIPs="" auth_backgroundAuthentication="false"
  	auth_failureMessage="Authentication Failed. Invalid User Name or Password." auth_passwordFieldName="pass" auth_userFieldName="user"
  	authenticationPageList="x191.xml" binaryDownloadPage="" forbiddenFolders="settings" forbiddenFoldersResponsePage="x13.xml" homePage="x11.xml"
  	loginHandlerPageMockup="login" loginPagePath="x192.xml" logoutHandlerPageMockup="logout" protectedBinaryFolders="documents/secured"
  	redirectionQueryStringName="redir">
    <plugins>
      <add name="ADAuthPlugin.dll"/>
    </plugins>
  </runtimeAuthSettings>
  <appSettings>
    <clear/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="PageFilesLocation" value="G:\wogbb\CMS\dt\xml\pub\production"/>-->
     <add key="PageFilesLocation" value="G:\wogbb\CMS\dt\xml\"/>
    <add key="EnableTFRMParameter" value="true"/>
    <add key="DesignTimeAssetsLocation" value=""/>
    <add key="CacheSiteControls" value="true"/>
    <add key="SiteControlSchemas" value="SiteControl;SectionControl"/>
    <add key="LegacyRendering" value="true"/>
    <!-- 3 choices for table handling: AsTablet, AsMobile, AsDesktop, not case sensitive-->
    <add key="TabletHandling" value="AsMobile"/>
    <!-- logging settings -->
    <add key="Log_MaxArchiveFiles" value="1000"/>
    <!-- bypass mobile routing cookie setting-->
    <add key="MobileViewBypassCookieName" value="Bypass_Mobile_View"/>
    <!-- the cookies that will cause cache variation on different value -->
    <add key="CacheVariationCookieNames" value="site;region"/>
    <!-- by default, Dss will copy all stylesheets to App_Data\_dss_temp_stylesheets_ folder to avoid file locking during publishing/replication
         set to false to disable this feature and directly use xslt in Stylesheets folder -->
    <add key="UseTempStylesheetsLocation" value="true"/>
    <!-- logging parameters -->
    <add key="logDirectory" value="G:\ProductDev\Dev80\.NETRuntime\Dynamic_Site_Server\App_Data"/>
    <!-- day, week, month -->
    <add key="logSwitchingCycle" value="week"/>
    <add key="logSwitchCycleUnit" value="1"/>
    <add key="emailServer" value=""/>
    <add key="emailServerPort" value="25"/>
    <add key="emailSender" value=""/>
    <add key="emailReceiver" value=""/>
  </appSettings>

  <system.web>
    <trust level="Full"/>
    <machineKey decryption="AES" decryptionKey="C7C731D64AAE26CDC6691216C00F37EF19016FE8447ACCF0" validation="AES"
      validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE"/>
    <sessionState mode="InProc" cookieless="false"/>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <customErrors mode="Off"/>
    <caching>
      <cache privateBytesLimit="104857600" privateBytesPollTime="00:01:00"/>
    </caching>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/d:Trace=true"
        type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- http errors has to be set on pass through mode for custom 404 page to work on remote servers-->
    <httpErrors existingResponse="PassThrough"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <caching maxCacheSize="104857600"/>
    <handlers>
      <remove name="Ingeniux_CMS_Services"/>
      <remove name="Ingeniux_CMS_Wildcard"/>
      <remove name="Ingeniux_CMS_XML"/>
      <remove name="Wildcard_From_Site"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->

</configuration>