@model Ingeniux.Runtime.ICMSPage
@using Ingeniux.Runtime

<div class="row">
    <div class="span12">
        <h1>Change Password</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <form class="changepassform" id="changepassform" method="post" action="">
            <p>
                <label for="">Current Password *</label>
                <input id="OPassword" name="OPassword" minlength="2" type="password" required>
            </p>
            <p>
                <label for="Password">New Password *</label>
                <input id="Password" name="Password" minlength="2" type="password" required>
            </p>
            <p>
                <label for="PasswordC">Confirm New Password *</label>
                <input id="PasswordC" name="PasswordC" minlength="2" type="password" required>
            </p>
            <p>
                <label> </label>
                <input class="submit" type="submit" value="Change Password" />
            </p>

            <p style="color:red">@Model.Tag</p>

        </form>
    </div>
</div>

<script type="text/javascript">
    $().ready(function () {
        // validate the comment form when it is submitted
        $("#changepassform").validate({
            rules: {
                OPassword: {
                    required: true
                },
                Password: {
                    required: true
                },
                PasswordC: {
                    required: true,
                    equalTo: "#Password"
                }
            },
            messages: {
                pswd: "Please enter password",
                confirmpassword: "Confirmation password doesn't match password"
            }
        });
    });
</script>

